// variable
:root {
    --font-body: "Inter", sans-serif;
    --font-heading: 'ARPDisplay';

    --color-primary: #ffe04b;
    --color-secondary: #00b8ff;
    --color-heading:  #131053;

    --color-default:  #414047; 
    --color-border:  #cbcad3;
    --color-white: #fff;
    --color-black: #000;
    --color-body: #fff;

    --easing: cubic-bezier(0.67, 0.04, 0.3, 0.91);
}
.design-conference {
	--font-heading: "Righteous", sans-serif;

    --color-heading:  #0e052c;
    --color-primary:  #6e3ffa;
	--color-body: #0e052c;
    --color-default: #414446;
}
.feature-ai-event {
    --font-heading: "Righteous", sans-serif;
	--font-body: "Geist Mono", monospace;

    --color-heading:   #92dc63;
    --color-primary:  #92dc63;
	--color-body: #fff;
    --color-body-bg: #092019; 
}